<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ExpressMapper">
    <select id="selectAll" resultType="tws.entity.Express">
        select * from `express`;
    </select>

    <insert id="insert" parameterType="tws.entity.Express">
       insert into `express`
       values(#{express.id},#{express.name},#{express.phone},#{express.status},#{express.date});

    </insert>

    <update id="patchStatus" parameterType="tws.entity.Express">

       update `express`
       set status = #{express.status}, date = #{express.date}
       where id = #{express.id};

    </update>
</mapper>
